#favourites {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #010041;
}

#favourites h2 {
    margin-bottom: 2rem;
    font-size: 4rem;
}

.no-favourites {
    text-align: center;
}

#favourite-list img {
    width: 35%;
    height: auto;
    border-radius: 0.5rem;
}

.favourite-info {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.7s ease-in-out;
}

.favourite-info p {
    margin: 1rem;
}

.favourite-info.visible {
    max-height: 40rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(108, 103, 172) rgba(196, 196, 196, 0);
}

.favourite-card {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 75rem;
    box-shadow: 0.6rem 0.6rem 1rem;
    margin-bottom: 4rem;
    opacity: 1;
}

.favourite-card.removed {
    width: 10rem;
    opacity: 0;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.favourite-card-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favourite-card-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 26rem;
    text-align: center;
}

#favourite-images {
    text-align: center;
}

#favourite-images img {
    margin: 1rem;
}

/* Responsiveness*/

@media only screen and (max-width: 1024px) {
    .favourite-card {
        width: 55rem;
    }

    .favourite-card.removed {
        width: 5rem;
        opacity: 0;
        transition: width 0.5s ease-in-out, opacity 0.3s ease-in-out;
    }
}

@media only screen and (max-width: 912px) {
    .favourite-card {
        width: 47rem;
    }
}

@media only screen and (max-width: 768px) {
    #favourites h2 {
        font-size: 3rem;
    }

    .favourite-card {
        width: 40rem;
        margin-bottom: 3rem;
    }

    .favourite-card-icons {
        width: 20rem;
    }

    #favourite-images img {
        width: 60%;
        margin: 0.5rem;
    }
}

@media only screen and (max-width: 540px) {
    .favourite-card {
        width: 100%;
    }

    .favourite-card-icons {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    #favourites h2 {
        font-size: 2.5rem;
    }

    #favourites h3 {
        font-size: 1.8rem;
    }

    .favourite-card {
        padding: 0.5rem;
        margin-bottom: 2rem;
    }

    .favourite-card.removed {
        width: 3rem;
        opacity: 0;
        transition: width 0.5s ease-in-out, opacity 0.2s ease-in-out;
    }

    #favourite-list img {
        width: 40%;
    }

    #favourite-images img {
        width: 80%;
        margin: 0.2rem;
    }

    .favourite-info.visible {
        max-height: 30rem;
    }
}

@media only screen and (max-width: 425px) {
    .favourite-card-icons {
        flex-direction: column;
    }

    .favourite-info.visible {
        max-height: 20rem;
    }
}